a .register:hover, a .cart:hover {
  background-color: #ff8800;
  transform: scale(1.1); }

.botn a, .search-input, .submit, .col-md-card, .color-input {
  background-color: #1F1F1F;
  border: 2px outset #ff8800; }

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff; }

body {
  background-color: #141414; }

.contenedor {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas: "nav nav nav nav" "... main main ..." "footer footer footer footer"; }

.nav-bar {
  background-image: linear-gradient(45deg, #070707, #3f3f3f);
  grid-area: nav;
  display: flex;
  width: 100%;
  border-bottom: 3px solid #252525;
  font-size: 32px;
  height: 3em;
  flex-direction: row;
  justify-content: space-between; }

.div-nav {
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.imgLogo {
  margin-left: 10px;
  width: 3em;
  height: 3em;
  animation-name: logoAnimated;
  animation-duration: 7s;
  animation-iteration-count: infinite; }

.navbar-collapse {
  display: none; }

.container-Nav-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center; }

.list-bar {
  display: flex;
  list-style: none;
  transform: skew(340deg); }

.botn {
  margin-left: 20px;
  margin-top: 7px; }

.botn a {
  display: block;
  text-decoration: none;
  padding: 6px 10px;
  color: #fff; }
  .botn a:hover {
    transform: scale(1.1); }

.dropdown-menu {
  position: absolute;
  inset: -10px auto auto 72px;
  margin: 0px;
  transform: translate(-74px, 44px);
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-bg: none;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-padding-y: 0; }

a {
  color: #fff; }
  a:hover {
    color: #fff; }

.row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row; }

.search-input {
  font-size: 15px;
  height: 35px;
  width: 15em;
  padding: 5px;
  margin-right: 5px; }
  .search-input:focus {
    margin-right: 10px;
    transform: scale(1.1)-0.5;
    transition: .5s; }

.submit {
  margin-top: 20px;
  margin-right: 50px;
  padding: 5px;
  font-size: 16px;
  height: 30px;
  width: 75px; }
  .submit:hover {
    transform: scale(1.1)-0.5; }

a .register {
  margin-right: 30px;
  margin-top: 10px;
  width: 2.3em;
  height: 2.3em;
  border: 3px solid #000; }

a .cart {
  width: 2.3em;
  height: 2.3em;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: #000 solid; }

.cnt-cart {
  font-size: 30px;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: #000000;
  margin-top: 10px;
  margin-right: 20px;
  left: 475px;
  height: 45px;
  padding: 10px; }

.botn-nav {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%; }

.navbar {
  display: none; }

.nav-span {
  display: none; }

/* ********* Jquerys ********* */
@media (max-width: 1440px) {
  .btn a {
    padding: 5px 7px;
    text-align: center; }
  .search-input {
    margin-left: 30px;
    width: 10em; }
  .submit {
    margin-right: 20px; }
  .cart {
    display: inline;
    position: fixed;
    top: 38em;
    right: 1em;
    z-index: 1; }
  .cnt-cart {
    display: none; } }

@media (max-width: 1215px) {
  .search-input {
    display: none; }
  .submit {
    display: none; } }

@media (max-width: 1024px) {
  .nav-bar {
    justify-content: space-evenly; }
  .botn a {
    padding: 6px 6px; }
  .list-bar {
    transform: none; }
  .search-input {
    display: none; }
  .submit {
    display: none; }
  .register {
    margin: 0px; } }

/*  para que no aparezca el boton collapsado
a la hora de agrandar la resolucion */
@media (min-width: 991px) {
  .collapse:not(.show) {
    display: block; } }

/* hamburguesa Avtivada */
@media (max-width: 991px) {
  .nav-bar {
    width: 100%;
    height: 10em;
    position: fixed;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1; }
  .container-Nav-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 1em; }
  .imgLogo {
    margin-top: 1em;
    width: 4.3em;
    height: 4.3em; }
  .navbar {
    display: flex; }
  .div-nav {
    align-items: flex-start;
    z-index: 1;
    justify-content: space-evenly; }
  .list-bar {
    flex-direction: column; }
  .register {
    margin-top: 1em;
    width: 4.3em;
    height: 4.3em; }
  .navbar-toggler-icon {
    width: 2.5em;
    height: 2.5em;
    padding-top: 3em; }
  .botn-nav {
    z-index: 1;
    top: 0;
    position: fixed;
    width: 0; }
  .nav-span {
    display: inline-block; }
  .row-end {
    align-items: flex-start; }
  .sec-img {
    width: 16.5em;
    height: 11em; } }

@media (max-width: 425px) {
  .container-Nav-section {
    align-items: flex-start; }
  .nav-bar {
    height: 8em;
    justify-content: space-evenly; }
  .imgLogo {
    width: 3em;
    height: 3em;
    margin-left: 4em; }
  .register {
    width: 3em;
    height: 3em; }
  .list-bar {
    padding-left: 0;
    flex-direction: column; }
  .row-end {
    align-items: flex-start; }
  .cart {
    width: 3.3em;
    height: 3.3em;
    top: 50em; } }

@media (max-width: 320px) {
  .imgLogo {
    width: 3em;
    height: 3em; }
  .register {
    width: 2.3em;
    height: 2.3em; } }

main {
  grid-area: main; }

.fondo {
  background-color: #1f1f1f; }

@media (max-width: 425px) {
  * {
    font-size: 15px; }
  .contenedor {
    grid-template-areas: "nav nav nav nav" "main main main main" "footer footer footer footer"; } }

.container-sec {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 8em;
  padding-bottom: 50px;
  width: 34em;
  height: 27.5em; }

.flex-absolute {
  position: relative; }

.sec-img {
  display: inline-block;
  width: 34em;
  height: 20em;
  position: relative; }

.section-intel {
  padding: 125px 50px;
  width: 17em;
  left: 0px;
  position: absolute; }
  .section-intel:hover {
    animation-name: imgAmdIntel;
    animation-duration: 4s;
    animation-iteration-count: infinite; }

.section-amd {
  padding: 135px 50px;
  width: 17em;
  right: 0px;
  position: absolute; }
  .section-amd:hover {
    animation-name: imgAmdIntel;
    animation-duration: 4s;
    animation-iteration-count: infinite; }

.container-table {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-around;
  flex-direction: row; }

.title-h {
  width: 50rem; }

.title-card {
  padding-top: 2em;
  display: block;
  text-align: center; }

.gen-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap; }

.card-product {
  display: inline-block;
  margin: 20px 30px 20px; }

.col-md-card {
  display: block;
  padding: 10px;
  position: relative; }
  .col-md-card:hover {
    transform: scale(1.1); }

.img-p {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto; }

.stock {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #000;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem; }

.fav-start {
  display: inline-block;
  width: 30px;
  position: absolute;
  left: 0;
  top: 0;
  color: black; }
  .fav-start:hover {
    transform: scale(1.1);
    color: yellow; }
  .fav-start:before:hover {
    color: yellow; }

.name-prod {
  display: block;
  text-align: center;
  font-weight: bolder;
  margin: 5px; }

.price-prod {
  display: block;
  text-align: center;
  font-weight: bolder;
  margin: 5px; }

.btn-cart {
  display: block;
  margin: auto;
  margin-top: 5px;
  font-size: 15px;
  position: relative;
  padding: 8px;
  background-color: #212529;
  color: #fff;
  border-radius: 10px; }

.btn-outline-dark:hover {
  border-color: #212529;
  transform: scale(1.1);
  transition: all .3s; }

.red {
  color: red; }

@media (max-width: 1024px) {
  .container-sec {
    justify-content: flex-start;
    width: 25.5em;
    height: 25em; }
  .sec-img {
    width: 25.5em;
    height: 14em; }
  .section-intel {
    padding: 80px 35px;
    width: 12.5em; }
  .section-amd {
    padding: 90px 35px;
    width: 12.5em; } }

@media (max-width: 991px) {
  .sec-img {
    width: 16.5em;
    height: 11em; }
  .container-sec {
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 0px;
    width: 100%;
    height: 15em; }
  .section-amd {
    padding: 75px 20px;
    width: 8.5em; }
  .section-intel {
    padding: 70px 20px;
    width: 8em; } }

@media (max-width: 425px) {
  .container-sec {
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 0px;
    width: 100%; }
  .sec-img {
    width: 19.3em;
    height: 14em; }
  .section-intel {
    padding: 70px 20px;
    width: 10em; }
  .section-amd {
    padding: 70px 10px;
    width: 10em; }
  .title-card {
    margin-top: 75px;
    font-size: 20px; }
  .fav-start {
    bottom: 235px; } }

.div-account {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.avatar {
  height: 17em;
  width: 15em;
  margin: 50px;
  border: 2px outset #ff8800; }

.info-user {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 60px; }

.info-user p {
  display: inline-block;
  padding-bottom: 25px; }

#description {
  background-color: #141414;
  border: 1px outset #ff8800;
  padding-left: 5px;
  padding-top: 5px;
  width: 30em; }

.btn-register {
  margin-top: 10px;
  color: #ffffff12; }

.btn-register:hover {
  color: white; }

.info-account {
  padding: 50px; }

.info-account p {
  padding-bottom: 50px; }

.info-account b {
  color: #ff8800; }

.title {
  margin-bottom: 10px; }

.anchor {
  display: inline-block;
  color: #ff8800; }
  .anchor:hover {
    margin-left: 10px;
    transform: scale(1.1) 0.1; }

@media (max-width: 1440px) {
  .avatar {
    margin: 50px auto; }
  .info-user {
    padding: 60px; }
  #description {
    width: 25em; } }

@media (max-width: 1024px) {
  .avatar {
    margin: 50px auto; }
  .info-user {
    width: 70%;
    padding-top: 0px;
    padding-left: 50px; }
  #description {
    width: 20em; } }

@media (max-width: 425px) {
  .avatar {
    height: 10em;
    width: 9em;
    margin: 30px auto; }
  .info-user {
    width: 90%;
    padding: 0px;
    padding-left: 20px; }
  #description {
    width: 17em; }
  .info-account {
    padding: 50px 25px; } }

.fd-help {
  display: flex;
  flex-direction: column;
  align-items: center; }

.fd-help p {
  padding-top: 30px;
  padding-bottom: 20px; }

.title-2 {
  padding-top: 60px; }

.help-submit {
  background-color: #1F1F1F;
  border: 2px outset #ff8800;
  margin-top: 20px;
  padding: 5px;
  font-size: 24px;
  height: 40px;
  width: 85px; }
  .help-submit:hover {
    border: 2px outset #f8a546;
    transform: scale(1.1)0.1;
    transition: transform .4s; }

.p-social {
  margin-bottom: 55px; }

@media (max-width: 1440px) {
  .fd-help {
    padding-bottom: 10em; } }

@media (max-width: 1024px) {
  .fd-help {
    margin: 0px 30px;
    text-align: center; }
  .p-social {
    margin-bottom: 8em; } }

@media (max-width: 425px) {
  .fd-help {
    padding-bottom: 0em; } }

.title-reg {
  padding-top: 60px;
  text-align: center;
  text-decoration: underline; }

.form-reg {
  display: flex;
  flex-direction: column;
  padding: 60px;
  margin-left: 100px; }

.form-reg div {
  padding-bottom: 50px; }

.color-input {
  padding: 2px 10px;
  margin-right: 50px; }
  .color-input:hover {
    transform: scale(1.1);
    transition: .3s; }

.tittle-p {
  padding-bottom: 10px; }

.asterisc-red {
  color: #a10404; }

.span-form {
  padding-right: 20px; }

@media (max-width: 1440px) {
  .form-reg {
    padding: 3em 3em 6em 3em;
    margin-left: 0px; }
  .color-input {
    margin-right: 0px; } }

@media (max-width: 1024px) {
  .title-reg {
    padding-top: 3em;
    padding-bottom: 2em; }
  .form-reg {
    padding: 0px;
    margin-left: 2em;
    align-items: flex-start; }
  .form-reg div {
    padding-bottom: 3.5em; } }

@media (max-width: 425px) {
  .form-reg {
    margin-left: 1em; }
  .span-form {
    display: inline-block;
    margin-bottom: 9px; }
  .span-form-check {
    display: inline-block;
    margin-bottom: 9px;
    padding-right: 20px;
    padding-left: 10px; }
  .checkbox-span {
    display: flex;
    padding-right: 5px;
    width: 19em; } }

.fd-help {
  display: flex;
  flex-direction: column;
  align-items: center; }

.fd-help p {
  padding-top: 30px;
  padding-bottom: 20px; }

.title-2 {
  padding-top: 60px; }

.help-submit {
  background-color: #1F1F1F;
  border: 2px outset #ff8800;
  margin-top: 20px;
  padding: 5px;
  font-size: 24px;
  height: 40px;
  width: 85px; }
  .help-submit:hover {
    border: 2px outset #f8a546;
    transform: scale(1.1)0.1;
    transition: transform .4s; }

.p-social {
  margin-bottom: 55px; }

@media (max-width: 1440px) {
  .fd-help {
    padding-bottom: 10em; } }

@media (max-width: 1024px) {
  .fd-help {
    margin: 0px 30px;
    text-align: center; }
  .p-social {
    margin-bottom: 8em; } }

@media (max-width: 425px) {
  .fd-help {
    padding-bottom: 0em; } }

.large {
  height: 80rem; }

.cart-h2 {
  padding-top: 5rem;
  margin-bottom: 3rem; }

.cart-img {
  width: 23rem;
  height: 8rem;
  margin-right: 1rem; }

.table {
  margin-bottom: 0; }

.resumen-buy {
  width: 10rem; }

.card-img-top {
  height: 14rem;
  width: 11rem; }

.card {
  width: 11rem;
  height: 23rem; }
  .card:hover {
    transform: scale(1.1)0.2; }

.producto-release {
  display: inline-block;
  margin-top: 3rem; }

@media (max-width: 1024px) {
  .large {
    height: 95rem; }
  .card-res {
    width: 90%; } }

@media (max-width: 991px) {
  .card-res {
    width: 100%; } }

@media (max-width: 425px) {
  .large {
    height: 95rem; }
  .card-release-cont {
    width: 100%; }
  .card-res {
    width: 100%; }
  .card {
    width: 8rem;
    height: 20rem; }
  .card-img-top {
    height: 11rem;
    width: 8rem; } }

@media (max-width: 320px) {
  .card-img-top {
    height: 9rem;
    width: 6.5rem; } }

footer {
  grid-area: footer; }

.ft-list {
  display: flex;
  background-color: #070707;
  height: 175px;
  border-top: 2px solid #181818;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 0; }

.ft-list li {
  list-style: none;
  position: relative; }

.list-social a {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  top: 25px;
  align-items: center; }
  .list-social a:hover {
    transform: scale(1.1); }

.list-social img {
  width: 60px;
  margin: 5px; }

@media (max-width: 1024px) {
  .ft-list {
    align-content: stretch;
    align-items: flex-start; } }

@media (max-width: 425px) {
  .list-social img {
    width: 30px;
    margin: 10px; }
  .list-social a {
    top: 15px; } }

@keyframes logoAnimated {
  0% {
    transform: rotateX(0deg) rotate(0deg); }
  12% {
    transform: rotateX(45deg) rotate(5deg); }
  25% {
    transform: rotateX(0deg) rotate(10deg); }
  37% {
    transform: rotateX(45deg) rotate(5deg); }
  50% {
    transform: rotateX(0deg) rotate(0deg); }
  62% {
    transform: rotateX(45deg) rotate(355deg); }
  75% {
    transform: rotateX(0deg) rotate(350deg); }
  87% {
    transform: rotateX(45deg) rotate(355deg); }
  100% {
    transform: rotateX(0deg) rotate(0deg); } }

@keyframes imgAmdIntel {
  0% {
    transform: rotateX(0deg) rotate(0deg) translateY(0px); }
  12% {
    transform: rotateX(45deg) rotate(5deg) translateY(10px); }
  25% {
    transform: rotateX(0deg) rotate(10deg) translateY(0px); }
  37% {
    transform: rotateX(45deg) rotate(5deg) translateY(10px); }
  50% {
    transform: rotateX(0deg) rotate(0deg) translateY(0px); }
  62% {
    transform: rotateX(45deg) rotate(-5deg) translateY(10px); }
  75% {
    transform: rotateX(0deg) rotate(-10deg) translateY(0px); }
  87% {
    transform: rotateX(45deg) rotate(-5deg) translateY(10px); }
  100% {
    transform: rotateX(0deg) rotate(0deg) translateY(0px); } }
