.large {
    height: 80rem;
}

.cart-h2 {
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.cart-img {
    margin-right: 1rem;
    @include width-height(23rem, 8em);
}

.table {
    margin-bottom: 0;
}

.resumen-buy {
    width: 10rem;
}

.card-img-top {
    @include width-height(11rem, 14rem);
}

.card {
    @include width-height(11rem, 23rem);

    &:hover {
        transform: scale(1.1);
    }
}

.producto-release {
    display: inline-block;
    margin-top: 3rem;
}

@media (max-width: 1024px) {

    .large {
        height: 95rem;
    }

    .card-res {
        width: 90%;
    }
}

@media (max-width: 991px) {

    .card-res {
        width: 100%;
    }
}

@media (max-width: 425px) {

    .large {
        height: 95rem;
    }

    .card-release-cont {
        width: 100%;
    }

    .card-res {
        width: 100%;
    }

    .card {
        @include width-height(8rem, 20rem);
    }

    .card-img-top {
        @include width-height(8rem, 11rem);
    }
}

@media (max-width: 320px) {

    .card-img-top {
        @include width-height(6.5rem, 9rem);
    }
}